/OpenTapsPom/drivers/*
/OpenTapsPom/.settings/*
/OpenTapsPom/lib/*
/OpenTapsPom/reports/*
/OpenTapsPom/target/*
/OpenTapsPom/test-output/*
/OpenTapsPom/.metadata/*
/OpenTapsPom/*.classpath
/OpenTapsPom/*.project
.metadata/*